@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "tailwindcss";

body {
  @apply m-0 p-0 bg-light-teal text-dark-teal;
}

@theme {
  /* theme variables */
  --font-sans: "JetBrains Mono", monospace;

  --color-light-bg: #e0ede9;

  --color-dark-teal: #06363d; /* text */
  --color-teal-strong: #085558; /* navbar and active btns */
  --color-teal-bright: #0d6f73; /* secondary btns */
  --color-soft-teal: #84babf; /* cards */
  --color-light-teal: #e0ede9; /* background */

  /*contrast*/
  --color-sun-orange: #ff8c42;
  --color-amber-glow: #ffc857;
  --color-rose-clay: #ff6b6b;
}

.navbar {
  @apply flex gap-0 justify-evenly items-center px-6;
}

.navbar-anchor {
  @apply py-2 px-4 rounded-md hover:text-amber-glow hover:cursor-pointer hover:font-bold hover:bg-dark-teal;
}

.btn {
  @apply min-w-[150px] px-6 py-2 rounded-md font-bold;
}

.btn-primary {
  @apply text-sm text-white bg-teal-bright hover:text-amber-glow active:bg-dark-teal;
}
